body{font-family:"맑은 고딕",sans-serif;}

/*header*/
header{position:fixed; z-index:300; top:0px; left:0px; width:100%; height:70px; background-color:#fff; border-bottom:3px solid black; margin-bottom:20px;}

header>h1{position:fixed; top:25px; left:50%; margin-left:-475px; width:60px; height:25px;}
header>h1>a{display:block; width:60px; height:25px; text-indent:-9999em; background-image:url(../images/logo.png);
            background-size:60px auto; background-repeat:no-repeat;}

header>.gnb{position:fixed; top:27px; left:50%; margin-left:-400px;}
header>.gnb>ul>li{float:left; margin-right:10px; font-size:13px;}
header>.gnb>ul>li:last-child{margin-right:0;}
header>.gnb>ul>li:last-child:after{content: '';}
header>.gnb>ul>li:after{content: '|'; padding-left:10px; font-size:11px; vertical-align:text-top; color:#999;}
header>.gnb>ul>li>a{color:#777;}

header>.lnb{position:fixed; top:20px; right:50%; margin-right:-400px;}
header>.lnb>p{margin-right:10px; width:150px; height:15px;}
header>.lnb>p>a{display:block; padding-left:10px; width:150px; padding:5px; height:15px; font-size:12px; color:#777; text-align:left;
                line-height:15px; background-color:#fff; outline:1px solid #ccc;}
header>.lnb>p>a>span{float:right; margin:5px 5px 0 0 ; display:block; border:none; width:0px; height:0px;
                     border-width:4px; border-style:solid; border-color:gray transparent transparent transparent;}

header>.lnb>.language{display:none; position:fixed; top:46px; right:50%; margin-right:-400px; width:310px;}
header>.lnb>.language>ul{width:310px; background-color:#fff; outline:1px solid #ccc;}
header>.lnb>.language>ul>li{float:left; width:150px; height:25px; padding:0px 5px; line-height:25px; text-align:left; box-sizing:border-box;}
header>.lnb>.language>ul>li:nth-child(2n+1){border-right:1px solid #ededed;}
header>.lnb>.language>ul>li>a{display:block; width:100%; height:25px; font-size:12px; color:#888;}
header>.lnb>.language>ul>li>a:hover,header>.lnb>.language>ul>li>a:focus,header>.lnb>.language>ul>li>a.on{color:#00c402;}
header>.lnb:hover .language{display:block;}


header>.sns{float:left; position:fixed; top:20px; right:50%; margin-right:-485px;}
header>.sns>ul>li{float:left; margin:5px 0 0 5px; width:50px; height:auto; background-image:url(../images/sprite_Line.png);
                  background-repeat:no-repeat; background-position:-1055px 0px; }
header>.sns>ul>li:nth-child(2){margin-left:10px; width:13px; height:auto; background-position:-815px 0px;}
header>.sns>ul>li>a{display:block; text-indent:-9999em;}
header>.sns>ul>li:nth-child(1)>a{width:50px; height:auto;}
header>.sns>ul>li:nth-child(2)>a{width:13px; height:auto;}

/* slide */
section>.slide{overflow:hidden; position:relative; top:0px; left:0px; width:100%; height:440px; margin-top:70px;}

/* slide container */
section>.slide>.slide-container{position:absolute; top:0px; left:0px; width:400%; height:440px; overflow:hidden;}
section>.slide>.slide-container>li{position:relative; top:0px; left:0px; float:left; width:25%; height:440px; text-indent:-9999em; background-size:cover;
                                   background-position:center center;} /*margin-left:-455px;*/
section>.slide>.slide-container>li:nth-child(1){background-image:url(../images/slide_1.png);}
section>.slide>.slide-container>li:nth-child(2){background-image:url(../images/slide_2.png);}
section>.slide>.slide-container>li:nth-child(3){background-image:url(../images/slide_3.png);}
section>.slide>.slide-container>li:nth-child(4){background-image:url(../images/slide_4.png);}

section>.slide>.slide-container>li>a{display:block; position:absolute; top:0px; left:0px; width:100px; height:38px; text-indent:-9999em;}
section>.slide>.slide-container>li>a.active{}
section>.slide>.slide-container>li:nth-child(1)>a.active{top:290px; left:50%; margin-left:-480px;}

section>.slide>.slide-container>li:nth-child(2)>a.active{top:310px; left:50%; margin-left:-480px; width:115px;}
section>.slide>.slide-container>li:nth-child(2)>a.active:last-child{top:310px; left:50%; margin-left:-355px;}

section>.slide>.slide-container>li:nth-child(3)>a.active{top:313px; left:50%; margin-left:-480px; width:115px;}
section>.slide>.slide-container>li:nth-child(3)>a.active:last-child{top:313px; left:50%; margin-left:-355px; width:115px;}

section>.slide>.slide-container>li:nth-child(4)>a.active{top:313px; left:50%; margin-left:-480px; width:145px;}

/* slide pagination */
section>.slide>.slide-pagination{position:absolute; z-index:200; left:50%; bottom:20px; margin-left:-45px; width:90px; height:13px;}
section>.slide>.slide-pagination>li{float:left; margin-left:10px; width:15px; height:13px; background-image:url(../images/sprite_Line.png);
                    background-position:-885px 0px;}
section>.slide>.slide-pagination>li:first-child{margin-left:0;}
section>.slide>.slide-pagination>li.on,
section>.slide>.slide-pagination>li:hover,
section>.slide>.slide-pagination>li:focus{background-position:-871px 0px;}
section>.slide>.slide-pagination>li>a{display:block; width:15px; height:13px; text-indent:-9999em;}

/* slide navigation */
section>.slide>.slide-navigation{display:block; position:absolute; top:50%; width:80px; height:100px; text-indent:-99999px;
                                 border:none; outline:none; background:none; background-image:url(../images/btn_navigation.png)}
section>.slide>.prev{left:10px; background-position: -5px -225px;}
section>.slide>.prev.on,section>.slide>.prev:hover,section>.slide>.prev:focus{background-position: -5px -335px;}
section>.slide>.next{right:10px; background-position: -5px -5px;}
section>.slide>.next.on,section>.slide>.next:hover,section>.slide>.next:focus{background-position: -5px -115px;}

/*section*/
section>.main_img{margin:0px auto; width:1000px;}
section>.main_img>ul{width:1000px; margin:100px 0;}
section>.main_img>ul>li{margin:40px; width:920px;}
section>.main_img>ul>li>img{float:left; display:block; width:450px; height:556px;}
section>.main_img>ul>li>h2{float:left; margin:20px 0 20px 30px; font-weight:400; font-size:46px; line-height:1.2;}
section>.main_img>ul>li>p{float:left; margin-left:30px; font-size:14px; line-height:1.7;}
section>.main_img>ul>li:nth-child(even)>img{float:right;}

section>.function{margin:0px auto; width:1000px;}
section>.function>ul{margin-bottom:100px;}
section>.function>ul>li{float:left; margin-left:10px; width:320px; height:430px;}
section>.function>ul>li>img{display:block; width:160px; height:284px;}
section>.function>ul>li>span.m_title{display:block; margin:10px 0; font-size:13px; font-weight:600;}
section>.function>ul>li>span a{display:inline-block; margin-left:5px; width:12px; height:12px; line-height:12px;  background-size:1100px auto;  text-indent:-9999em; background-image:url(../images/sprite_Line.png); background-position:-593px 0px;}
section>.function>ul>li>p{font-size:12px; line-height:1.6;}

/*footer*/

footer{width:100%; height:90px; background-color:#3b3b3b;}

footer>.fnb{margin:0 auto; width:870px;}
footer>.fnb>ul{width:870px;}
footer>.fnb>ul>li{float:left; margin-top:20px; margin-right:5px; font-size:12px;}
footer>.fnb>ul>li:last-child{margin-right:0;}
footer>.fnb>ul>li:last-child:after{content: '';}
footer>.fnb>ul>li:after{content: '|'; padding-left:5px; font-size:11px; vertical-align:center; color:#ccc;}
footer>.fnb>ul>li>a{color:#ccc;}

footer>address{margin-top:10px; display:block; text-align:center; font-size:12px; color:#ccc;}




